body{
margin-top: 50px;
margin-left: 150px;
}
b{
    font-family: 'Times New Roman', Times, serif;
    color:midnightblue;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: indigo;
}
#imagenes {
    color: aquamarine;
    float: left;
    
    
}
